{% extends "base.html" %}

{% block title %}Painel do Usuário{% endblock %}

{% block content %}

    <h2>Bem-vindo(a), {{ nome }}</h2>

    <div class="weather-info">
        <div class="weather-card">
            <h3>Data/Hora</h3>
            <p>{{ dados_tempo.data_hora }}</p>
            <small>Atualizado: {{ dados_tempo.atualizacao }}</small>
        </div>

        <div class="weather-card">
            <h3>Temperatura</h3>
            <p>{{ dados_tempo.temperatura }}</p>
        </div>

        <div class="weather-card">
            <h3>Umidade</h3>
            <p>{{ dados_tempo.umidade }}</p>
        </div>

        <div class="weather-card">
            <h3>Céu</h3>
            <p>{{ dados_tempo.ceu }}</p>
        </div>

        <div class="weather-card">
            <h3>Condição</h3>
            <p>{{ dados_tempo.condicao_tempo }}</p>
        </div>

        <div class="weather-card">
            <h3>Vento</h3>
            <p>{{ dados_tempo.vento }}</p>
        </div>
    </div>

    <div class="alert-history">
        <h3>Últimos Alertas para seu CEP</h3>
        <ul class="alert-list">
            {% for alerta in alertas %}
            <li class="alert-item">
                <strong>{{ alerta.descricao }}</strong><br>
                CEP: {{ alerta.cep_afetado }} |
                {{ alerta.data_criacao_local }}
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
